<ion-content>
  <ion-header class="ion-padding" color="green" (click)="expandItem(item)" *ngFor="let item of items">
    <ion-text>
      <h4 class="ion-text-uppercase">Patrimonio</h4>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p>
        Arbancón ofrece un rico y variado patrimonio histórico y cultural que sus orgullososo vecinos conservan y amplían constantemente. Un paseo por sus callejas y plazas revela el carácter de esta villa, su privilegiada historia y la cordialidad de sus entrañables habitantes.
      </p>  
      </app-expandable>    
    </ion-text>
  </ion-header>

  <ion-grid >
    <ion-row>
      <ion-col 
        size="6" 
        
        *ngFor="let patrimonio of patrimonios"
      >

        <ion-card [routerLink]="['/patrimonio/' + patrimonio.id]">
          
          <img 
          src = "../../../assets/{{ patrimonio.cardImage }}" 
          class="grid-card"
          />
         {{ patrimonio.title }}

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
