<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <ion-calendar [(ngModel)]="date"
      
      (change)="onChange($event)"
      (select)="onSelect($event)"
      [options] = "options"
      [type]="type"
      [format]="'YYYY-MM-DD'"
      [readonly] = false
    >
    </ion-calendar>

  </div>
  

</ion-content>
