<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >Escapadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item 
      *ngFor="let escapada of escapadas"
      lines="none">
      <ion-card class="ion-no-padding">
        <div class="inCard">
          
          <div class="imgInCard">
            <img src="../../../assets/{{ escapada.image }}">
          </div>
          
          <div class="card-right">
             
             <ion-card-title class="ion-text-end">
              {{ escapada.name }}
            </ion-card-title>

            <ion-card-content class="ion-text-end ion-text-end">
              {{ escapada.vendor }} 
            </ion-card-content>

              <ul>
                <li *ngFor="let feature of escapada.features">
                  {{ feature }}
                </li>
              </ul>
           
          </div>
        </div>
       
      </ion-card>
        
    </ion-item>
  </ion-list>
 
</ion-content>
