<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let aloj of alojamientos">
      Test
    </ion-item>
  </ion-list> -->
</ion-content>

<ion-footer>
  <ion-toolbar >

    <ion-fab horizontal="starr" vertical="center" >
      <ion-fab-button size="small" href="https://www.facebook.com/arbancon.guadalajara">
        <ion-icon name="logo-facebook" ></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="center" vertical="center" >
      <ion-fab-button size="small" href="https://www.turismoarbancon.com">
        <ion-icon name="earth-outline" ></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="end" vertical="center" >
      <ion-fab-button size="small" href="https://twitter.com/TurismoArbancon">
        <ion-icon name="logo-twitter" ></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-toolbar>
</ion-footer>
