<ion-content >
  <ion-header class="ion-padding" color="green" (click)="expandItem(item)" *ngFor="let item of items">
    <ion-text>
      <h4 class="ion-text-uppercase">Patrimonio</h4>
      <app-expandable expandHeight="150px" [expanded]="item.expanded">
        <p>
        Arbancón dispone del alojamiento adecuado para cada necesidad. Desde habitaciones individuales en hostal hasta cabañas para grupos de hasta 40 personas, pasando por apartamentos y casas rurales, todos ellos perfectamente equipados.
      </p>  
      </app-expandable>   
    </ion-text>
  </ion-header>

  <ion-list>
    <ion-item 
    *ngFor="let alojamiento of alojamientos" 
    [routerLink]="['/alojamiento/' + alojamiento.id]"
    routerDirection="forward" 
    lines="none">

      <ion-card class="ion-no-padding">

        <ion-card-content>
          
          <img 
            src="../../../assets/{{ alojamiento.mainImage }}"
            class="list-card"
          >
          
          <div>
            <ion-card-title class="ion-text-end">
              {{ alojamiento.vendor }}
            </ion-card-title>
            

            <ion-card-subtitle class="ion-text-end">
              {{ alojamiento.shortProfil }}
            </ion-card-subtitle>

          </div>
        </ion-card-content>      
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-justify-content-center">

  <ion-button 
  [routerLink]="['/escapadas/']"
    shape="round" 
    fill="outline" 
    size="small" 
    color="light">

    <ion-label>Escapadas</ion-label>
  </ion-button>
</ion-footer>