.tab {
  display: flex;
  flex-direction: column;
}

#centro {
  justify-self: center;
}

#centro ion-col { padding: 10px; }

.side { display: grid; }

.top { align-self: flex-start;}

.bottom { align-self: flex-end;}

#wetterCont { position: relative; }

#temp {
  font-size: 12px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/** TAB ALOJAMIENTOS **/

ion-card { 
  width: 100%;
}

ion-button {
  --border-color: white;
  --color: white;
}

ion-card .inCard {
  
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#alojamientos img {
  border-radius: 4px;
  height: 65px;
}

ion-card .card-right {
  
  display: flex;
  flex-direction: column;
}

#alojamientos ion-card-content {
  padding: 0 0 0 14px;
}

.btn-wrapper {
  text-align: center;
  background-color: var(--ion-color-danger);
  padding: 4px;
}



#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

