<super-tabs activeTabIndex="0">
  
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>    
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Alojamientos</ion-label>    
    </super-tab-button>

    <super-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Gastronomia</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content [fullscreen]="true">
        <ion-grid class="ion-no-padding">
          <ion-row >
            <ion-col>
              <ion-img src="../../../assets/images/home/turismo2.png"></ion-img>
            </ion-col>
          </ion-row>
            
          <ion-row class="ion-padding ion-justify-content-center">
            
            <ion-col size="2" >
              
              <ion-img src="../../../assets/images/home/gmaps-75x.png"></ion-img>
              <ion-img src="../../../assets/images/home/PM-logo-transp-vert-500x.png" class="unten"></ion-img>   
              
            </ion-col>
      
            <ion-col>
              <ion-img src="../../../assets/images/home/botargatransp.png"></ion-img>
            </ion-col>
            
            <ion-col size="2">
      
              <ion-img src="../../../assets/images/home/gmaps-75x.png" ></ion-img>
              <ion-img src="../../../assets/images/home/ayuntamientoArbancon.png" ></ion-img>
      
            </ion-col>
          </ion-row>        
             
        </ion-grid>

        <ion-footer>
          <ion-toolbar >

            <ion-fab horizontal="starr" vertical="center" >
              <ion-fab-button size="small" href="https://www.facebook.com/arbancon.guadalajara">
                <ion-icon name="logo-facebook" ></ion-icon>
              </ion-fab-button>
            </ion-fab>
        
            <ion-fab horizontal="center" vertical="center" >
              <ion-fab-button size="small" href="https://www.turismoarbancon.com">
                <ion-icon name="earth-outline" ></ion-icon>
              </ion-fab-button>
            </ion-fab>
        
            <ion-fab horizontal="end" vertical="center" >
              <ion-fab-button size="small" href="https://twitter.com/TurismoArbancon">
                <ion-icon name="logo-twitter" ></ion-icon>
              </ion-fab-button>
            </ion-fab>
        
          </ion-toolbar>
        </ion-footer>

      </ion-content>
    </super-tab>
    <super-tab>
      <ion-nav [root]="alojamientosPage"></ion-nav>    
    </super-tab>
    <super-tab>
      <ion-content>
        Page #3
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
